@font-face {
  font-family: Syne;
  src: url("../../assets/fonts/syne/syne-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Syne;
  src: url("../../assets/fonts/syne/syne-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Syne;
  src: url("../../assets/fonts/syne/syne-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
